<div class="carContainer">
    <h1><%item.year %></h1>
    <h1><%item.make %><%item.model%></h1>
    <img src="" alt="image from array">
    <p>Description</p>
    <h3>Price</h3>

    <ul>
        <li class="bulletPoints">Year</li>
        <li class="bulletPoints">Make</li>
        <li class="bulletPoints">Model</li>
        <li class="bulletPoints">Drive</li>
    </ul>

    <!-- {category, year, make, drive, price, model} -->
</div>

   
