<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Add Car</title>
</head>
<body>

    <a href="/">
        <img src="/img/belair.png" alt="Belair illustration" class="icon"> <!-- starting w/ "/" indicates public folder as root for img src. -->
    </a>
    <h1>Post your Classic!</h1>
    <p>Car must have been manufactured before the year 2001 to be posted on our site.</p>

    <form class="carForm" action="/" method="post">
        <select class="year" name="year" id="year" onclick=sortMake(event.target.value)>
            <option value="year">Year</option>
            <% for(let i = 1965; i < 2001; i++){ %>
                <option value=<%=i%>><%=i%></option>
            <%} %>
        </select>

        
        <select class="make" name="make" id="makeInput" onclick=sortModel(event.target.value)>
            <!-- if Statement unlocking make options -->
            <option value="make">Make</option>
        </select>

        <select class="model" name="model" id="modelInput" required>
            <!-- if Statement unlocking make options -->
            <option value="model">Model</option>
        </select>

        <label for="auto">Automatic: </label>
        <input id="auto" name='auto' type="radio" value="automatic" onclick=handleCheck(event.target.id)>
        <label for="manual">Manual: </label>
        <input id="manual" name="manual" type="radio" value="manual" onclick=handleCheck(event.target.id)>

        <label for="price">Asking Price USD: </label>
        <input id="price" type="number" step=".01" min='1000'> <!-- ADD REQUIRED -->

        <label for="description">Description: </label>
        <textarea name="description" id="description"></textarea> <!-- ADD REQUIRED -->

        <label for="imgUpload">Upload Images of your ride:</label>
        <input name="imgUpload"type="file" id="imgUpload" accept="image/*" onchange=previewPhoto(event.target) class="img1"> <!-- add an image previewer -->


        <div class="imageContainer">

            <img src="#" alt="Preview of Uploaded Img" id="imgPreview" class="img1">
        </div>

        <button>Submit</button>
    </form>
    <button class="addPhoto" onclick=addPhoto()>Add Additional Photo</button> <!-- removed from form to prevent submit -->


    <p class="data"> <%= JSON.stringify(results) %></p> <!-- allows for front end data manipulation. Display = "none" -->
   

</body>

<script>
    const carElement = document.querySelector('.data')
    const carData = JSON.parse(carElement.textContent) // immutible global


    function sortMake(year){
        if(year !== 'year'){
            const makeSelect = document.querySelector('.make')
            
            let makes = {}
            let options = []
            
            carData.forEach((item) =>{
                let first = parseInt(item.yearrange[0] + item.yearrange[1] + item.yearrange[2] + item.yearrange[3])
                let last = parseInt(item.yearrange[5] + item.yearrange[6] + item.yearrange[7] + item.yearrange[8])
                
                if((first <= year && last >= year) && makes[item.make] === undefined ){
                    makes[item.make] = true
                    options.push(item.make)
                }
            })

            options.sort()

            wipeOptions(['make', 'model'])
            createOptions(makeSelect, options)
        }
    }

    function sortModel(make){
        let modelSelect = document.querySelector('.model')
        let models = []
        
        carData.forEach(item =>{
            if(item.make === make){
                models.push(item.model)
            }
        })
        models.sort()

        wipeOptions(['model']) //preserves 'make' options
        createOptions(modelSelect, models)
    }

    function wipeOptions(elements){
        elements.forEach(element =>{
            let parent = document.querySelector(`.${element}`)
            
            let OGoption = parent[0] //Preserves make/model default "option" 
            parent.innerHTML = '' //removes any residual options
            parent.appendChild(OGoption) //appends make/model "option"
        })
    }

    function createOptions(parent, array){        
        array.map(item =>{
                let makeElement = document.createElement('option')
                makeElement.value = item
                makeElement.textContent = item
                makeElement.name = item

                parent.appendChild(makeElement)
            })
    }

    function handleCheck(target){
        let uncheckId = ''

        if(target === 'auto'){
            uncheckId = 'manual'
        }
        else{
            uncheckId = 'auto'
        }
        const targetRadio = document.querySelector(`#${uncheckId}`)
        targetRadio.checked = false
    }

    function addPhoto(){
        const imageContainer = document.querySelector('.imageContainer')
        const imageUpload = document.querySelectorAll('#imageUpload')


            const uploadImg = document.createElement('input')
            uploadImg.type = 'file'
            uploadImg.id = 'imageUpload'
            uploadImg.className = `upload${imageUpload.length}` // ties the file input to its corresponding image preview
            

            imageContainer.append(uploadImg)

       
    }

    function previewPhoto(target){ //takes in img upload input element
        const file = target.files;
        console.log(file)
        const number = target.className[target.className.length - 1]
        if(file){
            const fileReader = new FileReader();
            let imgPreview = document.createElement('img')
            imgPreview.id = 'imgPreview'
            imgPreview.alt="Preview of Uploaded Img"

            fileReader.onload = event => {
                imgPreview.setAttribute('src', event.target.result);
            }
            imgPreview.src = fileReader.readAsDataURL(file[0]);

            console.log(target)
            const parent = document.querySelector('.imageContainer')
            console.log(parent)
            parent.appendChild(imgPreview)
        }

        
        
    }
    
    
</script>
</html>