<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Classic Car Depot</title>
</head>
<body>
    <h1>Classic Car Depot</h1>
    <div class="header">
        <form action="/" method="GET">
            <a href="/">
                <img src="/img/belair.png" alt="Belair illustration" class="icon"> <!-- starting w/ "/" indicates public folder as root for img src. -->
            </a>

            
            <select name="category" id="category">
                <option value='*'>All Options</option>
                <option value="domestic">Domestic</option>
                <option value="jdm">JDM</option>
                <option value="euro">Euro</option>
            </select>

            <select name="make" id="make">
                <option value="*">All Makes</option>
                <option value="Chevrolet">Chevrolet</option>
                <option value="Toyota">Toyota</option>
                <option value="Mercedes">Mercedes</option>
            </select>
            

            <button class="submit">Update Filters</button>
        </form>

        <a href="/addCar">Click to Add a Car!</a>
    </div>
    <div class="results">
        <% results.forEach(item => { %>
        <%- include('partials/item', { item })%>
        <%})%>
    </div>
</body>
</html>