@font-face {
    font-family: 'kindy-script';
    src: url('../fonts/Retrow\ Mentho.otf') format('opentype');
    font-weight: bolder;
    font-style: normal;
  }

.sigmar-regular {
    font-family: "Sigmar", serif;
    font-weight: 400;
    font-style: normal;
  }

:root, body{
    margin: 0;
    padding: 0;
    font-size: 1.5 rem;
}
body{
    display: grid;
    background-color: rgb(233, 233, 233);
}
/* Indentation indicates a child element */
.header{
    grid-row:1/2;
    grid-column: 1/3;
    display: grid;
    align-items: center;
    border-bottom: 1px solid black;
    background: linear-gradient(to bottom, white, rgba(17, 0, 255, 0.596))
    
}   .iconLink{
        grid-column: 1/2;
        grid-row: 1/3;
        justify-self: start;
        margin-left: 1rem;
        min-width: 6rem;
    }
        .icon{
            width: 5rem;
            border-radius: 15px;
        
        }
    .icon:hover{
        background: radial-gradient(circle, white, rgba(255, 255, 255, 0.301));
        border-radius: 15px;
        background-size: 0% 0%;
        background-repeat: no-repeat;
        background-position: center;
        animation: expandRadial 0.5s ease-out forwards;
    }
    @keyframes expandRadial {
        0% {
          width: 5rem;
        }
        100% {
          width: 6rem;
        }
      }    
    .title{
        grid-row: 1/2;
        grid-column: 2/3;
        justify-self: center;
        font-size: 2rem;
        font-family: "Sigmar";
    }
    .notice{
        grid-row: 2/3;
        grid-column: 2/3;
        justify-self: center;
        font-size: 1.5rem;
        margin-top: -1rem;
        color: rgb(136, 3, 3);
    }        
    .filters{
        grid-row: 2/3;
        grid-column: 3/4;
        display: flex;
        gap: 1rem;
        justify-self: center;
    }
        .selectors, .updateFilters{
            width: 7rem;
            border-radius: 15px;
            background-color:  rgba(0, 0, 0, 0.664);
            color: white;
            margin-bottom: .5rem;
        }
        .selectors:hover{
            background-color: white;
            color:black;
            cursor: pointer;
        }
        .updateFilters:hover{
            background-color: rgb(179, 255, 179);
            cursor: pointer;
        }


    .addCarLink{
        grid-column: 3/4;
        text-decoration: none;
        font-weight: bolder;
        font-size: 1.2rem;
        justify-self: center;
        width: 12rem;
        text-align: center;
        color: rgb(2, 2, 66)
    }
    .addCarLink:hover{
        animation: fontColorize 0.5s ease-out forwards;
  
    }
    @keyframes fontColorize {
        0%{
            color: rgb(2, 2, 66)
        }
        100%{
            color: rgb(103, 103, 255)
        }
        0%{
            color: rgb(2, 2, 66)
        }
    }
.results{
    display: grid;
    grid-template-columns: repeat(3, auto);
    padding:10px;
    gap:5px;
    
}
.carContainer{
    display: grid;
    grid-template-columns: repeat(2, fit-content);
    grid-template-rows:repeat(3, fit-content) ;
    justify-self: center;
    justify-content: center;
    border: solid 1px rgb(201, 201, 201);
    background-color: white;
}
        .imgContainer{
            align-self: center;
            justify-self: center;
            margin-right: 5vw;
            grid-row: 1/4;
            grid-column: 1/2;
            grid-template-columns: repeat(3, auto);
            min-height: 35vh;
            max-height: 35vh;
            max-width: 20vw;
            min-width: 20vw;
            display: grid;

            justify-self: center;
            align-items: center;
            /* background-color: rgb(61, 61, 61); */
            justify-content: center;
        }
            .carImg{
                grid-column: 1/4; 
                grid-row: 1/2;     
                max-width: 17vw;
                max-height: 25vh;

            }
            #left, #right{
                grid-row: 1/2;     
                border: none;
                border-radius: 15px;
                font-size: 1.5rem;
                background-color: rgba(255, 255, 255, 0.678);
            }
            #left{
                grid-column: 1/2;
            }
            
            #right{
                grid-column: 3/4;
            }

    .itemTitle{
        grid-row: 1/2;
        grid-column: 2/3;
    }
    .delete{
        height: 1.5rem;
        grid-row: 4/5;
        grid-column: 1/2;
        align-self: center;
        justify-self: center;
        width: 12rem;
        margin-top: -5vh;
        margin-bottom: 1vh;
        background-color: rgba(255, 0, 0, 0.5);
        border: 1px solid rgba(255, 255, 255, 0);
        font-weight: bold;
        z-index: 500;
    }
    .delete:hover{
        cursor: pointer;
        border: 1px solid black;
    }
.loginBarrier{
    width: 100vw;
    height:100vh;
    
    display: none;
    position: fixed;
    background-color: rgba(2, 2, 2, 0.315);
    z-index: 750;
}
    .loginAlert{
        position: absolute;
        top: 30vh;
        left: 40vw;

        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: auto;

        min-width: fit-content;
        height: 40vh;
        background-color: rgb(0, 0, 119);
        color: white;
        z-index: 1000;
    }
        
        .loginPrompt{
            grid-row: 1/2;
            grid-column: 1/2;
            font-size: 1.8rem;
            justify-self: end;
        }
        .cancel{
            grid-row: 1/2;
            grid-column: 2/3;

            width: min-content;
            font-weight: bolder;
            font-size: 1.5rem;
            border-radius: 15px;
            justify-self: end;
            align-self: start;

        }
        .incorrectPrompt{
         grid-row: 2/3;   
         grid-column: 1/2;
         color: red;
         justify-self: end;
        }
        .usernameLabel, .username, .passwordLabel, .password{
            grid-column: 1/2;
            justify-self: start;
            align-self: center;
            font-size: 1.3rem;
            margin-left: 2rem;
        }
        .usernameLabel{
            grid-row: 3/4;       
        }
        .username{
            grid-row: 4/5;
        }
        .passwordLabel{
            grid-row: 5/6;
        }
        .password{
            grid-row: 6/7;
        }
        .submit{
            grid-row: 7/8;
            justify-self: center;
            align-self: end;
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }
        .cancel:hover, .submit:hover{
            background-color: rgb(156, 156, 156);
            cursor: pointer;
            
        }

        @media(max-width: 950px){
        
            .header{
                min-height: fit-content;
                max-height: 23vh;
                max-width: 100vw;
                padding-top: 2vh;
                padding-bottom: 0;
            }
                .icon{
                    width: 5rem;
                }
                .icon:hover{
                    width: 5rem;
                    animation: none;
                }
                .title{
                    grid-row: 2/3;
                    grid-column: 2/4;
                    font-size: 2rem;
                    justify-self: start;
                    text-align: center;
                }
                .notice{
                    font-size: 1rem;
                    grid-row: 3/4;
                    grid-column: 1/3;
                    text-align: center;
                }
                .filters{
                    grid-row: 3/4;
                    gap: .25rem;
                    padding: 1rem;
                    margin-top: -1.5rem;
                    
                }
                    .selectors, .updateFilters{
                        width: 4rem;
                        font-size: .6rem;
                        margin-bottom: .2rem;
                        padding: 0;
                    }
                        option{
                            width: 4rem;
                            font-size: .6rem;
                        }
                    .updateFilters{
                        width: 4.5rem;
                    }
                .addCarLink{
                    font-size: 1rem;
                }
            .results{
                grid-template-columns: repeat(2, auto);
            }
                .carContainer{
                    grid-template-columns: fit-content;
                    min-width: fit-content;
                    max-width: 46vw;
                }
                    .imgContainer{
                        grid-column: 1/2;
                        grid-row: 1/2;
                        max-width: 42vw;
                        min-width: fit-content;
                        min-height: 0;
                        padding: 0;
                       
                    }
                        .carImg{
                            max-width: 42vw;
                            padding: 0;

                        }
                    .itemTitle{
                        grid-column: 1/2;
                        grid-row: 2/3;
                    }
                    .price{
                        grid-column: 1/2;
                        grid-row: 3/4;
                    }    

                    .delete{
                        width: 7rem;
                        align-items: end;
                        justify-self: center;
                        margin-top: 10px;
                    }
                .loginAlert{
                    left:0vw;
                    padding-bottom: 5vh;
                }
                    .submit{
                        margin-top: 10px;
                    }
        }